<%- include('./partitials/header.ejs') %>

<body>
    <%- include('./partitials/navbar.ejs') %>


    <div class="container">
        <div class="card margemTopo">
            <div class="card-header uniceplac-card-header">
                <h3>Enviar Horas Complementares</h3>
            </div>

            <div class="card-body uniceplac-text">
                <form method="post" enctype="multipart/form-data" action="/cadastrar">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label>Nome*</label>
                            <input type="text" class="form-control" name="nome" maxlength="120" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Matrícula*</label>
                            <input type="text" maxlength="7" class="form-control" onkeypress='return event.charCode >= 48 && event.charCode <= 66'>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Curso*</label>
                            <select class="form-control" name="curso" required>
                                <option>Administração</option>
                                <option>Agronomia</option>
                                <option>Arquitetura & Urbanismo</option>
                                <option>Biologia</option>
                                <option>Biomedicina</option>
                                <option>Ciências Contábeis</option>
                                <option>Direito</option>
                                <option>Educação Física</option>
                                <option>Enfermagem</option>
                                <option>Engenharia Civil</option>
                                <option>Engenharia de Software</option>
                                <option>Estética e Cosmética</option>
                                <option>Farmácia</option>
                                <option>Fisioterapia</option>
                                <option>Gestão de RH</option>
                                <option>Gestão Pública</option>
                                <option>Letras-Português</option>
                                <option>Medicina</option>
                                <option>Medicina Veterinária</option>
                                <option>Nutrição</option>
                                <option>Odontologia</option>
                                <option>Pedagogia</option>
                                <option>Psicologia</option>
                                <option>Radiologia</option>
                                <option>Segurança no Trabalho</option>
                                <option>Sistemas de Informação</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Turma*</label>
                            <select class="form-control" name="turma" required>
                                <option>1º Período</option>
                                <option>2º Período</option>
                                <option>3º Período</option>
                                <option>4º Período</option>
                                <option>5º Período</option>
                                <option>6º Período</option>
                                <option>7º Período</option>
                                <option>8º Período</option>
                                <option>9º Período</option>
                                <option>10º Período</option>
                            </select>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Total de horas*</label>
                            <input type="text" maxlength="3" class="form-control" placeholder="ex: 8" onkeypress='return event.charCode >= 48 && event.charCode <= 66'>
                        </div>
                        <div class="form-group col-md-6">
                            <label>Enviar documentos*</label>
                            <input type="file" class="form-control" name="file" required>
                        </div>

                        <a href="/"><button type="button" class="btn light">Cancelar</button></a>
                        &nbsp;&nbsp;
                        <button type="submit" class="btn uniceplac-btn">Enviar</button>
                </form>

            </div>
        </div>
    </div>

    <%- include('./partitials/footer.ejs') %>
