<%- include('./partitials/header.ejs') %>

<body>
    <%- include('./partitials/navbar.ejs') %>
    <div class="container margemTopo">
        <br>
        <br>
        <br>
        <br>
        <h1 class="text-center">Bem vindo(a) ao sistema de Horas Complementares</h1>
    </div>
    <%- include('./partitials/footer.ejs') %>